
.number-wheel {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background-image: radial-gradient(rgba(180, 255, 233, 1) 0%, transparent 70%);


  .number {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: auto;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
  }
}